<div class="overlay-image">
  <img src="#" alt="#" />
  <div class="overlay-image__overlay overlay-image__overlay--right"></div>

  <button class="right">
    <mat-icon>arrow_forward_ios</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>

<div class="overlay-image">
  <img src="#" alt="#" />
  <div class="overlay-image__overlay overlay-image__overlay--left"></div>

  <button class="left">
    <mat-icon>arrow_forward_ios</mat-icon>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>