@import '../../../style/variables';

@mixin slide-button-color($bg-color, $text-color) {
  .slider__controls__button__icon-wrapper {
    background-color: lighten($bg-color, 10%);
    color: $text-color;
  }

  .slider__controls__button__label {
    background-color: $bg-color;
    color: $text-color;
  }
}

.slider { 
  $button-label-width: 160px;
  position: relative;

  &__overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: $spacing-big; 

    h1 {
      text-align: center;
      transition: $transition-slow;
      font-size: 3em;
    }

    &--fixed {
      margin-bottom: $spacing-big;
    }
  }
    
  &__controls {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    
    &__button {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      
      &__icon-wrapper {
        padding: $spacing-regular;
        
        mat-icon {
          width: calc(2 * #{$mat-icon-initial-size});
          height: calc(2 * #{$mat-icon-initial-size});
          font-size: calc(2 * #{$mat-icon-initial-font-size});
          
        }
      }

      &__label {
        width: $button-label-width;
        padding: $spacing-small;
        text-align: left;
      }

      &--red {
        @include slide-button-color($color-red, $text-color-light);
      }

      &--green {
        @include slide-button-color($color-green, $text-color-light);
      }

      &--lagoon {
        @include slide-button-color($color-lagoon, $text-color-light);
      }
    }
  }
}

// Tablet
@media (max-width: $breakpoint-tablet) {  
  .slider {
    &__controls {
      &__button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__label {
          text-align: center;
        }
      }
    }
  }
}

// Smartphone
@media (max-width: $breakpoint-smartphone) {  
  .slider {
    $button-label-width: 180px;

    &__controls {
      flex-direction: column;
      align-items: center;

      &__button {
        margin: $spacing-regular 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__icon-wrapper {
          display: none;
        }
        
        &__label {
          text-align: center;
          width: $button-label-width;
          padding: $spacing-regular;
        }
      }
    }
  }
}