<div class="slider">
  <mat-carousel #matCarousel timings="250ms ease-in" [autoplay]="false" [interval]="1000" maxWidth="auto" [slides]="3"
    [maintainAspectRatio]="false" [slideHeight]="'400px'" [loop]="false" [hideArrows]="true" [hideIndicators]="true"
    [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">

    <mat-carousel-slide class="slide" *ngFor="let slide of slides; let i = index" [image]="slide.imageUrl"
      [hideOverlay]="true">
    </mat-carousel-slide>
  </mat-carousel>

  <div class="slider__overlay">
    <section>
      <h1 [class]="currentCaptionColorClass">{{ currentCaption }}</h1>
    </section>

    <div class="slider__controls">
      <button *ngFor="let slide of slides; let i = index;"
        [class]="'slider__controls__button slider__controls__button--' + slide.buttonColorClass" (click)="slideTo(i)">
        <div class=" slider__controls__button__icon-wrapper">
          <mat-icon>{{ slide.buttonIcon }}</mat-icon>
        </div>
        <span class="slider__controls__button__label">
          {{ slide.buttonLabel }}
        </span>
      </button>
    </div>
  </div>
</div>