@import './variables';

// COMPONENTS
@mixin menu-item-hover-active-background($color, $transition) {
  $accent-line-height: $spacing-small;

  &:before, 
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0; 
    right: 0;
    height: $accent-line-height;  
    transition: $transition;
  }
  
  &:before {
    top: -$accent-line-height;
  }

  &:after {
    bottom: -$accent-line-height;
  }

  &:hover,
  &.active {
    background-color: rgba($color, .8); 
    
    &:before {
      background-color: $color;
    }
  
    &:after {
      background-color: $color-gray;
    }
  }
}

@mixin button {
  width: $button-min-width;
  height: $button-height;
  padding: $button-padding;

  border: 0px solid transparent;
  transition: $transition-fast;
  border-radius: 0;
  cursor: pointer;
}

// COLOR
@mixin button-color($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;

  &.active {
    background-color: white;
    border: 2px solid $bg-color !important;
    color: $bg-color;
    font-weight: bold;
  }
}

@mixin border-color($color) {
  border-color: $color;
}