@import './variables';

@mixin menu-item-hover-active-background($color, $transition) {
  $accent-line-height: $spacing-small;

  &:before, 
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0; 
    right: 0;
    height: $accent-line-height;  
    transition: $transition;
  }
  
  &:before {
    top: -$accent-line-height;
  }

  &:after {
    bottom: -$accent-line-height;
  }

  &:hover,
  &.active {
    background-color: rgba($color, .8); 
    
    &:before {
      background-color: $color;
    }
  
    &:after {
      background-color: $color-gray;
    }
  }
}