// MOBILE BREAKPOINTS
$breakpoint-tablet: 960px;
$breakpoint-smartphone: 768px;

// SPACING
$spacing-tiny: 2px;
$spacing-small: 4px;
$spacing-regular: 8px;
$spacing-medium: 16px;
$spacing-big: 32px;
$spacing-huge: 64px;

// COLOR
$background-color-lvl-0: #dedede;
$background-color-lvl-1: #efefef;
$background-color-lvl-2: #fafafa;
$color-primary: gold;
$color-secondary: khaki;
$color-warn: darkred;
$text-color-light: #fafafa;
$text-color-dark: #121212; 