<!-- Search box -->
<div class="weather-page-container">

  <input matInput placeholder="City" />

  <!-- Search results -->
  <section class="results">
    <!-- Loading indicator -->
    <mat-spinner *ngIf="true" mode="indeterminate"></mat-spinner>

    <p *ngIf="true" [ngClass]="{
      'error': true,
      'success': false
    }"></p>

    <div *ngIf="true" class="weather-data">
      <h1>Gliwice</h1>
      <h6 class="caption">Clouds, rain, clouds, more rain</h6>

      <div class="row">
        <p class="col s6">
          <label for="temperature">Temperature</label>
          <span class="temperature">&deg;C</span>
        </p>

        <figure class="col s6">
          <img src="" alt="" />
        </figure>
      </div>

      <div class="row">
        <p class="col s6">
          <label for="pressure">Pressure</label>
          <span class="pressure">hPa</span>
        </p>

        <p class="col s6">
          <label for="humidity">Humidity</label>
          <span class="humidity">%</span>
        </p>
      </div>
    </div>

  </section>
</div>