@import '../../../style/variables';
@import './toggle-button';

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // TOGGLE BUTTON
  &__toggle-button {
    display: none;
  }

  // MENU LIST
  &__items {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
  
    list-style: none;
    text-decoration: none;
  }

  // MENU LIST ITEM
  &__item {
    &--active {
      background-color: rgb(235, 125, 74);
      color: rgb(230, 217, 106)
    }

    &:hover {
      background-color: rgb(235, 125, 74);
      color: rgb(230, 217, 106)
    }
  }
}

//====================================================
//====================== MOBILE ======================
//====================================================
// TABLET MOBILE
@media (max-width: $breakpoint-tablet) {
  // MENU
  .menu {
    position: relative;

    &__toggle-button {
      @include toggle-button; 
    }

    // MENU LIST
    &__items {
      position: fixed;
      top: 0;
      right: 0;
      flex-direction: column;
      height: 0;
      overflow: hidden;

      &.open {
        height: auto;
      }
    }

    // MENU LIST ITEM
    &__item {
      width:  100%;
      &--active {
        background-color: rgb(235, 125, 74);
        color: rgb(230, 217, 106)
      }

      &:hover {
        background-color: rgb(2, 125, 74);
        color: rgb(230, 217, 106)
      }
    }
  }
}