<div class="menu-container">
  <nav class="menu">
    <a routerLink="/">
      <img src="assets/images/logo.svg" alt="Fireup logo">
    </a>

    <button class="menu__toggle-button" [ngClass]="shownOnMobile ? 'close' : '' " (click)="toggleMenu()">
      <hr />
      <hr />
      <hr />
    </button>

    <ul class="menu__items" [ngClass]="shownOnMobile ? 'open' : ''">
      <li class="menu__item menu__item--yellow"><a routerLink="/home">Główna</a></li>
      <li class="menu__item menu__item--red"><a routerLink="#">Menu 1</a></li>
      <li class="menu__item menu__item--green"><a routerLink="#">Menu 2</a></li>
      <li class="menu__item menu__item--lagoon"><a routerLink="/weather">Pogoda</a></li>
    </ul>
  </nav>
</div>